#
# CONFIG FILE FOR SQUIDGUARD
#

dbhome /var/squidGuard/blacklists
logdir /var/log/squidGuard

#
# REWRITE RULES:
#

rew yum {
        s@://mirror.centos.org/centos/@://{{ squid_nexus_addr }}:8081/repository/yum-centos/@i
        s@://download.docker.com/linux/centos/@://{{ squid_nexus_addr }}:8081/repository/yum-centos-docker/@i
        s@://download.fedoraproject.org/pub/epel/@://{{ squid_nexus_addr }}:8081/repository/yum-centos-epel/@i
}

#
# SOURCE ADDRESSES:
#

src local {
    # Define what source addresses the proxy must proxy. Here we limit ourselves to local host.
    ip 127.0.0.1
}

#
# DESTINATION CLASSES:
#


dest local {
}

acl {

        default {
                pass     local all
                rewrite  yum
        }
}

